<!DOCTYPE html>
<html lang="en">
    {{ template "tmpl/header" . }}
    <body>
        <div class="ui container main-container">
            <h1 class="ui header centered">The Obviously Practical Assembly (Language)</h1>
            <div class="ui grid">
                <div class="eight wide column">
                    <form class="ui form" hx-post="/interpret" hx-target="#output" hx-swap="innerHTML" hx-indicator="#indicator">
                        <div class="field" id="input">
                            {{ block "input" . }}
                            <textarea rows="30" name="asm" placeholder="Enter Topasm code here!">{{ .Text }}</textarea>
                            {{ end }}
                        </div>
                        <div class="ui segment centered">
                            <button class="ui primary button" type="submit">
                                <i class="code icon"></i>
                                Interpret
                            </button>
                            <i class="notched circle loading icon" id="indicator"></i>
                        </div>
                    </form>
                </div>
                <div class="eight wide column">
                    <div id="output">
                    {{ block "result" . }}
                        <div class="ui form">
                            <textarea rows="15" placeholder="Output" readonly>{{ .Output }}</textarea>
                        </div>
                        {{ if .Error }}
                        <div class="ui bottom attached error message">
                            <i class="exclamation icon"></i>
                            {{ .Error }}
                        </div>
                        {{ end }}
                    {{ end }}
                    </div>
                    <div class="ui segment centered">
                        <h4>Try Out Some Existing Examples</h4>
                        <button class="ui secondary button" hx-get="/example/0" hx-target="#input" hx-swap="innerHTML">Hello World</button>
                        <button class="ui secondary button" hx-get="/example/1" hx-target="#input" hx-swap="innerHTML">Fibonacci Sequence</button>
                        <button class="ui secondary button" hx-get="/example/2" hx-target="#input" hx-swap="innerHTML">Divisors of Large Int</button>
                    </div>
                    <div class="ui segment centered">
                        <a href="https://github.com/DavidMacDonald11/topasm-interpreter.go">
                            Check out the interpreter on GitHub!
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <h5>Note:
                    If this page stops behaving as expected,
                    you may need to refresh as we are deployed to
                    <a href="https://render.com"/>Render</a>
                    using a free tier.
                    This means the server will spin down with inactivity.
                    I apologize for the inconvenience.
                </h5>
            </div>
        </div>
    </body>
    {{ template "tmpl/footer" . }}
</html>
